<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>مدرسه</title>
	<link rel="stylesheet" type="text/css" href="./assets/css/slick.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/slick-theme.css">
	<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="./assets/css/fonts/icon.css">
	<link rel="stylesheet" href="./assets/css/style.css">
	<link rel="stylesheet" href="./assets/css/styles.css">
</head>

<body>
	<div class="overlay"></div>
	<header class="header">
		<div class="TopBar">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-4">
						<div class="top-contact">
							<a href="#" class="btn "><img src="./assets/img/login.png" alt=""><span>ورود به
									سایت</span></a>
							<a href="#" class="btn "><img src="./assets/img/profile-add.svg" alt=""></i><span>ثبت نام در
									سایت</span></a>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<img src="./assets/img/logo.svg" alt="">
					</div>
					<div class="col-md-4 text-left">
						<a href="#" class="btn font-light">مشاهده سایر پست ها</a>
						<a href="#" class="btn btn-default2 font-light">صفحه شخصی</a>
					</div>
				</div>
			</div>
		</div>
		<div class="StickyNav" id="fixmenu">
			<div class="container">
				<div class="sidebar">
					<div class="hideSidebar"><i class="fa fa-close"></i></div>
					<ul class="nav res-menu">
						<li><a href="#" class="active"> خانه</a></li>
						<li><a href="#"> آشنایی </a></li>
						<li><a href="#">شناخت نقشه برداری</a></li>
						<li><a href="#">نقشه ضروری مدارس </a></li>
						<li><a href="#">نقشه های اجماع </a></li>

					</ul>
				</div>
				<div class="d-flex align-items-center justify-content-between" >
					<button class="triggerSidebar btn"><i class="fa fa-bars"></i></button>
					<ul class=" top-menu">
						<li><a href="#" class="active"> خانه</a></li>
						<li><a href="#"> آشنایی <i class="fa fa-chevron-down"></i></a></li>
						<li><a href="#">شناخت نقشه برداری<i class="fa fa-chevron-down"></i></a></li>
						<li><a href="#">نقشه ضروری مدارس <i class="fa fa-chevron-down"></i></a></li>
						<li><a href="#">نقشه های اجماع <i class="fa fa-chevron-down"></i></a></li>

					</ul>
					<form class="navbar-form navbar-right">
						<input type="text" placeholder="جستجو کنید...." class="form-control">
						<button class="search-btn"><img src="./assets/img/search-normal.svg" alt=""></button>
					</form>
				</div>
			</div>

		</div>
	</header>
	<div class="bg-white pb-130 pt-45">
		<div class="container">
			<div class="head-box ">
				<div class="title-head">نقشه های ضروری علوم</div>
				<div class="head-line"></div>
			</div>
			<div class="text-center mb-5">
				<img src="./assets/img/image 5.svg" class="img-fluid" alt="">
			</div>
			<section class="add-text-box lesson-map-box">
				<div class="text-center mb-5">
					<img src="./assets/img/image 4.svg" class="img-fluid" alt="">
				</div>
				<div class="d-flex justify-content-between flex-wrap">
					<div class="">
						<div class="head-box">
							<div class="title-head">فصل اول</div>
							<div class="head-line"></div>
						</div>
					</div>

					<div class="mb-3">
						<div data-toggle="collapse" data-target="#demo" class="first-color cursor-pointer">
							مشاهده همه پیشنهادات این فصل
							<i class="fa fa-chevron-circle-down"></i>
						</div>


					</div>
				</div>
				<div id="demo" class="collapse show">
					<ul class="suggest-list">
						<li class="suggest-box">
							<h3>پیشنهاد ۱</h3>
							<p>دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن کاربر میتواند بر روی مشاهده بیشتر
								کلیک کند دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن کاربر میتواند بر روی
								مشاهده
								در صورت زیاد بودن متن کاربر دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن
								کاربر
								میتواند بر روی مشاهده بیشتر کلیک کند دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن
								متن
								کاربر میتواند بر روی مشاهده در صورت زیاد بودن متن کاربر </p>
						</li>
						<li class="suggest-box">
							<h3>پیشنهاد 2</h3>
							<p>دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن کاربر میتواند بر روی مشاهده بیشتر
								کلیک کند دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن کاربر میتواند بر روی
								مشاهده
								در صورت زیاد بودن متن کاربر دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن
								کاربر
								میتواند بر روی مشاهده بیشتر کلیک کند دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن
								متن
								کاربر میتواند بر روی مشاهده در صورت زیاد بودن متن کاربر </p>
						</li>
						<li class="suggest-box">
							<h3>پیشنهاد 3</h3>
							<p>دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن کاربر میتواند بر روی مشاهده بیشتر
								کلیک کند دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن کاربر میتواند بر روی
								مشاهده
								در صورت زیاد بودن متن کاربر دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن
								کاربر
								میتواند بر روی مشاهده بیشتر کلیک کند دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن
								متن
								کاربر میتواند بر روی مشاهده در صورت زیاد بودن متن کاربر </p>
						</li>
						<li class="suggest-box">
							<h3>پیشنهاد 4</h3>
							<p>دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن کاربر میتواند بر روی مشاهده بیشتر
								کلیک کند دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن کاربر میتواند بر روی
								مشاهده
								در صورت زیاد بودن متن کاربر دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن متن
								کاربر
								میتواند بر روی مشاهده بیشتر کلیک کند دراینجا متن نظر معلم نوشته می شود در صورت زیاد بودن
								متن
								کاربر میتواند بر روی مشاهده در صورت زیاد بودن متن کاربر </p>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<footer>
		<div class="main-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 FooterPane1">
						<div class="title">
							<img src="./assets/img/logo-green.svg" alt="">
						</div>
						<p>دراینجا توضیحی درباره سایت و حوزه فعالیت سایت نوشته می شود این متن می تواند در حدود 5 خط باشد
							دراینجا توضیحی درباره سایت و حوزه فعالیت سایت نوشته می شود این متن می تواند در حدود 5 خط
							باشد دراینجا توضیحی درباره سایت و حوزه فعالیت سایت </p>
					</div>
					<div class="col-lg-5 col-md-7 FooterPane2 d-flex">
						<div class="flex-grow-1">
							<div class="title">لینک های اصلی</div>
							<ul class="contentpane">
								<li><a href="#">خانه </a></li>
								<li><a href="#">آشنایی</a></li>
								<li><a href="#">شناخت نقشه برداری</a></li>
								<li><a href="#">نقشه ضروری مدارس </a></li>
								<li><a href="#">نقشه های اجماع </a></li>
							</ul>
						</div>
						<div class="flex-grow-1">
							<div class="title">لینک های مفید</div>
							<ul class="contentpane">
								<li><a href="#">درباره ما </a></li>
								<li><a href="#">تماس با ما</a></li>
								<li><a href="#">سوالات متداول</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 FooterPane3">
						<div class="title">تماس با ما</div>
						<div class="contentpane">
							<ul>
								<li>
									<strong>تلفن تماس: </strong>
									<span>06347657634</span>
								</li>
								<li>
									<strong>ایمیل:</strong> maping@gmail.com
								</li>
								<li>
									<strong>دورنما: </strong><a href="#">maping</a>
								</li>
								<li><strong>آدرس: </strong>
									<a href="#">بیرجند، خیابان غفاری، انتهای غفاری ، جنب پارک علم و فناوری</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="copyright-box">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<p>طراحی و توسعه جواد صیدی</p>
					</div>
					<div class="col-lg-6">
						<ul class="follow-us">
							<li><a href="#">
									<img src="./assets/img/telegram.svg" alt="">
								</a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="./assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="./assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<script src="./assets/js/popper.min.js" type="text/javascript"></script>
	<script src="./assets/js/slick.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./assets/js/script.js" type="text/javascript"></script>

</body>

</html>